* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

footer { font-size: 11px; }
footer a { color: hsl(228, 45%, 44%); }

:root {
--white: hsl(0, 0%, 100%);
--slate-300: hsl(212, 45%, 89%);
--slate-500: hsl(216, 15%, 48%);
--slate-900: hsl(218, 44%, 22%);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--slate-300);
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    font-family: "Outfit", sans-serif;
    padding:1rem;
    text-align: center;
}

.container {
    background-color: var(--white);
    border-radius: 15px;
    max-width: 20rem;
    margin-bottom: 15px;
    padding:16px;
    box-shadow: 0 5px 5px 2px lightgray;
}

.container h2 {
    font-size: 1.4rem;
}

img {
    display:block;
    border-radius:10px;
    max-width: 100%;
    margin-bottom: 20px;
    color: var(--slate-900);
}

main p {
    margin: 20px 7px 22px;
    font-size: 0.96rem;
    color: var(--slate-500);
    line-height:1.4;
}
